
header {
  background: #C12A5D;
}
main {
  display: grid;
  grid-template-areas
    'aside article article'
    ' aside footer footer'
  grid-gap: 30px;
}

aside {
  grid-area: aside;
  background: #D3658A;
}

article {
  background: #ffffff;
}

footer {
  grid-area: footer;
  background: #772540;
  color: #fff;
}
